<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="http://localhost/Shahain/Scholastic/application/assets/js/jquery-3.6.0.min.js"></script>
  <script>
    $(function(){
      $.post("http://localhost/Shahain/Scholastic/index.php/Scholastic/viewthis",{
        name : "Shahain"
      },function (data , status) {
        alert(status);
        alert(data);
      });
    });
  </script>
</head>
<body>
  
</body>
</html>